---
import '../styles/globals.scss'
import '../styles/root.scss'

var sName = 'TheGPTs'

var { title, pTitle } = Astro.props;

if (!!pTitle === false) pTitle = title
if (!!pTitle === false) pTitle = 'Home'

if (pTitle !== 'Home') {
    title = `${title} | ${sName}`
}

---
<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <link rel="icon" href="/favicon.png">
	</head>
	<body>
    <Header />
    <main class="main">
        <slot>Hi</slot>
    </main>
    <Footer />
    <script src="/main.js" is:inline></script>
    <!-- <script src="/eruda.js" is:inline></script> -->
  </body>
</html>